.signInButton{
  height: 3rem;
  border-radius: 3rem;
  background: var(--gray-850);
  border: 0;
  padding: 0 1.5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  font-weight: bold;

  svg{
    width: 20px;
    height: 20px;
  }

  svg.closeIcon{
    margin-left: .5rem;
  }

  svg:first-child{
    margin-right: .5rem;
  }

  transition: filter 0.2s;

  &:hover{
    filter: brightness(0.8);
  }
  
  button{
    margin-left: 0;
  }

    
  @media (max-width: 425px){
    width: 40%;
    height: 2rem;
    font-size: .5rem;
    padding: 0 .5rem;

    svg{
      width: 15px;
      height: 15px;
    }

      font-size: .7rem;
  }
}